body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: flex-start;
  height: 100vh;
  margin: 10px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
    margin-left: 22px;
}

.draggable-list li {
  background-color: transparent;/*#fff;*/
  display: flex;
  flex: 1;
  border: 1px solid #eaeaea;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .sentence-name {
  margin: 0 10px 0 0;
}

.draggable-list li.right {
  background-color: #3ae374;
}

.draggable-list li.wrong .sentence-name {
  color: #ff3838;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

/*.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}*/
button {
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #414141;
    border: 2px solid rgba(0,0,0,0.2);
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 10px;
}
button:active {
    transform: scale(0.98);
}

section.section-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
span.span-result{
    background-color: #e8f3e1;
}
/*img{
    height: 40px;
    margin-top: 2px;
    margin-left: 2px;
}*/
section.section-paint{
    display: flex;
    flex-direction: column;
}
canvas{
    max-width: 1100px;
    min-width: 1100px;
    max-height: 1050px;
    min-height: 1050px;
}
p{
    min-width: 900px;
}

@media (max-width: 900px) {
    body{
        align-items: flex-start;
        font-size: 75%;
        
    }
    svg{
        min-width: 300px;
        margin: auto;
    }
    img{
        width: 25px; 
        height: 25px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    }
   section.section-paint img{
        height: 22px;
        width: 22px;
        margin-right: 5px;
        margin-left: 0px;
    }
    .condition{
        /*margin-left: 34px;*/
        margin: auto;
    }
    section.task{
        align-items: flex-start;
    }
    section.section-result{
        margin: auto;
    }
    [data-tooltip]::after {
        left: 0%; top: 50%; /* Положение подсказки */
    } 
    canvas{
        margin: 0px 34px;
        max-width: 0;
        max-height: 0;
        opacity: 0;
    }
    img.btn-paint{
        pointer-events: none;
        opacity: 0.3;
    }
    button{
        font-weight: 800;
        font-size: 10px;
        width: 70px;
    }
    .draggable-list{
        margin: 0;
        max-width: 260px;
        min-width: 260px;
    }
    p{
        max-width: 260px;
        min-width: 260px;
    }
    i{
        margin: 0;
        padding: 0;
        opacity: 0;
    }
    div.draggable {
        padding: 10px 5px;
    }
    p.sentence-name{
        padding: 0;
    }
}