body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.line{
    background-color: #414141;
    height: 2px;
    width: 100%;
}

section.section-forms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
    padding: 2rem; 
    /*background: #f5f5f5;*/
}
input{
    margin: 5px 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    border-color: transparent;
    border-bottom: 0.12em solid #414141;
    text-align: center;
    /*background: #f5f5f5;*/
}
p{
    height: 5px;
    margin: 0px 0px;
    margin: 5px 5px;
}

button {
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 90px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #414141;
    border: 2px solid rgba(0,0,0,0.2);
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 10px;
}
button:active {
    transform: scale(0.98);
}

section.section-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
span.span-result{
    background-color: #e8f3e1;
}

@media (max-width: 670px) {
    body{
        align-items: center;
        font-size: 60%;
        
    }
    button{
        font-weight: 800;
        font-size: 10px;
        width: 70px;
        margin-bottom: 0;
    }
    input{
        margin: 1px 1px;
        font-size: 10px;
    }
    form{
        margin: 0;
        padding: 3px 3px;
    }
}