body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.draggable-items {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0;
    transition: opacity 0.5s;
    border: 3px solid #414141;
    flex-wrap: wrap;
    padding: 15px 15px;
}

.draggable {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}
.matching-elements {
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;  
}
.matching-element {
    /*height: 6rem;
    width: 22rem;*/
    width: 50rem;
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    flex-direction: row;  
    
}
.matching-element span {
  /*height: 100%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  flex-wrap: wrap;
  
}
.label {
    width: 30rem;
    font-size: 1rem;
    margin: 5px 5px;
    
}
span.droppable {
    width: 180px;
    min-height: 130px;
    font-size: 2rem;
    background-color: #fff;
    border: 3px dashed #111;
    transition: 0.2s;
    flex-wrap: wrap;
    padding-left: 10px;
    /*align-content: center;
    align-items: center;*/
    
}

div.condition{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    max-height: 70px;
}
button {
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 90px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #414141;
    border: 2px solid rgba(0,0,0,0.2);
    /*color:rgba(0,0,0,0.7);*/
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 10px;
}
button:active {
    transform: scale(0.98);
}
button:hover {
     background-color: black;
}
section.section-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
span.span-result{
    background-color: #e8f3e1;
}
section.section-btn{
     display: flex;
    flex-direction: row;
}
canvas{
    max-width: 850px;
    min-width: 850px;
    max-height: 180px;
    min-height: 180px;
}
img.draggable{
    height: 120px;
    width: 120px;
    background-color: white;
    border: 1px solid #414141;
    margin: 5px 5px;
}
.section-task{
    margin: 0;
    height: 200px;
}
[data-tooltip]::after {
        left: 0%; top: 20%; 
    } 
@media (max-width: 900px) {
    body{
        align-items: flex-start;
        font-size: 75%;
        
    }
    img{
        width: 25px; 
        height: 25px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    }
    section.section-paint img{
        height: 22px;
        width: 22px;
        margin-right: 7px;
        margin-left: 0px;
    }
    .condition{
        margin: 0;
        padding: 0;
    }
    canvas{
        margin: 0px 34px;
        max-width: 0;
        max-height: 0;
        min-height: 0;
        min-width: 0;
        opacity: 0;
    }
    section.section-result{
        margin: auto;
    }
    [data-tooltip]::after {
        left: 0%; top: 50%; 
    } 
    
    img.btn-paint{
        pointer-events: none;
        opacity: 0.3;
    }
    button{
        font-weight: 800;
        font-size: 10px;
        width: 70px;
    }
    img.draggable{
        height: 60px;
        width: 60px;
    }
    .section-task{
        margin: 0;
        padding: 0;
        height: 100px;
        min-width: 300px;
        
        align-items: flex-start;
    
    }
    section.draggable-items{
        height: auto;
        width: auto;
        margin-bottom: 0;
        margin-top: 15px;
    }
    .matching-element {
      height: auto;
      max-width: 280px;
      margin: 5px 10px;
    }
    .matching-elements {
        flex-direction: column;  
        margin-bottom: 10px;
    }
    span.label{
        font-size: 12px;
    }
    p{
        margin: 0;
    }
    .draggable-items {
        padding: 5px 5px;
    }
    span.droppable {
        min-width: 80px;
        min-height: 60px;
        font-size: 12px;
        padding-left: 5px;
        align-items: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }

}
