body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
section.triple{
    padding-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-auto-rows: repeat(4, 8rem);
    grid-gap: 2rem;
}

.card{
    position: relative;
    margin-left: 15px;
}
img.face{
    background-color: transparent;
    pointer-events: none;
    border: 1.5px solid black;
    min-height: 125px;
    min-width: 125px;
}
button {
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 90px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #414141;
    border: 2px solid rgba(0,0,0,0.2);
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 10px;
}
button:active {
    transform: scale(0.98);
}

section.section-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span.span-result{
    background-color: #e8f3e1;
}
canvas{
    max-width: 830px;
    min-width: 830px;
    max-height: 490px;
    min-height: 490px;
}
[data-tooltip]::after {
    left: 700px; top: 50%; /* Положение подсказки */
} 

@media (max-width: 900px) {
    body{
        align-items: flex-start;
        font-size: 75%;
        
    }
    svg{
        min-width: 300px;
        margin: auto;
    }
    img{
        width: 25px; 
        height: 25px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    }
   section.section-paint img{
        height: 22px;
        width: 22px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .condition{
        /*margin-left: 34px;*/
        margin: auto;
    }
    section.task{
        align-items: flex-start;
    }
    section.section-result{
        margin: auto;
    }
    [data-tooltip]::after {
        left: 0%; top: 50%; /* Положение подсказки */
        z-index: 10;
    } 
    canvas{
        margin: 0px 34px;
        max-width: 0;
        max-height: 0;
        opacity: 0;
    }
    img.btn-paint{
        pointer-events: none;
        opacity: 0.3;
    }
    button{
        font-weight: 800;
        font-size: 10px;
        width: 70px;
    }
    section.triple{
        padding-top: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        display: grid;
        grid-template-columns: repeat(3, 75px);
        grid-auto-rows: repeat(4, 8px);
        grid-gap: 5px;
        padding-left: 0;
    }
    img.face{
        min-height: 70px;
        min-width: 70px;
    }
    .card{
        margin-left: 0px;
        padding-left: 0px;
    }
}