section.section-task{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    width: 55%;
}
canvas{
    border: 2px solid #DBE1F9;
    position: absolute;
    margin-left: 80px;
    padding: 5px;
    /*width: 1000px;
    height: 600px;*/
    z-index: -1;
    opacity: 0.3;
}
section.section-paint img{
    height: 45px;
    width: 45px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 2px 5px;
}

section.section-paint{
    display: flex;
    flex-direction: column;
}


div.hint{
    display: flex;
    flex-direction: row;
}
img{
    width: 35px; 
    height: 35px;
    cursor: pointer;
    margin-left: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);  
}
img:active {
    transform: scale(0.90);
}

[data-tooltip] {
    position: relative; 
   }
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; 
    width: 300px;
    left: 110%; top: 50%; /* Положение подсказки */
    background: #000; /* #3989c9; */
    color: #fff; 
    padding: 0.5em; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    pointer-events: none; 
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    
    border-radius: 6px;
    text-align: center;
    
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -5px; /* Положение подсказки */
}