body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.section-task{
    /*display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 20px;
    width: 100%;
    position: relative;*/
    min-width: 1000px;
}
svg{
    margin-left: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
form div{
    width: 200px;
    margin-bottom: 0.5em;
    margin-left: 23px;
}
input{
    margin: 5px 5px;
    border: none;
    border-color: transparent;
    border-bottom: 0.12em solid #414141;
    text-align: center;
}
button{
    margin: 5px 5px;
}
section.section-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 15px;
}
span.span-result{
    background-color: #e8f3e1;
}
button {
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 90px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #414141;
    border: 2px solid rgba(0,0,0,0.2);
    color: white;
    font-weight: 800;
    font-size: 12px;
    margin: 10px 10px;
}
button:active {
    transform: scale(0.98);
    background-color: #000;
}

section.section-paint{
    display: flex;
    flex-direction: column;
}
section.section-btn{
    display: flex;
    flex-direction: row;
}
svg text{
    font-size: 8px;
    stroke: none;
    fill: #414141;
}
section.name-vect{
    display: flex;
    flex-direction: row;
}

canvas{
    max-width: 1200px;
    min-width: 1100px;
    max-height: 430px;
    min-height: 430px;
}
[data-tooltip]::after {
    left: 60%; top: 50%; /* Положение подсказки */
} 
span{
    margin-left: 5px;
}

@media (max-width: 900px) {
    body{
        align-items: flex-start;
        font-size: 75%;
    }
    section.section-paint img{
        height: 22px;
        width: 22px;
        margin-right: 7px;
        margin-left: 0px;
    }
    section.section-paint {
        max-height: 25px;
        margin-top: 0;
        max-width: 25px;
    }
    section.section-result{
        margin: auto;
    }
    [data-tooltip]::after {
        left: 0%; top: 50%; 
    } 
    canvas{
        margin: 0px 34px;
        max-width: 0;
        max-height: 0;
        opacity: 0;
    }
    img.btn-paint{
        pointer-events: none;
        opacity: 0.3;
    }
    .condition{
        margin: auto;
       /* min-width: 600px;*/
    }
    svg{
        min-width: 180px;
        max-width: 180px;
        margin: 0;
        /*margin: auto;*/
    }
    section.section-result{
        margin: auto;
        /*min-width: 600px;*/
        align-items: center;
    }
    button{
        font-weight: 800;
        font-size: 10px;
        width: 70px;
    }
    form div{
        min-width: 150px;
        max-width: 150px;
        margin: 3px 3px;
    }
    input{
        width: 20px;
        font-size: 12px;
        margin: 2px 2px;
    }
    section.section-task{
        max-width: 300px;
    }
    div{
        margin-right: 0;
        padding-right: 0;
    }
}